<section ng-if="property.property1" id="aa-latest-blog" style="padding-top:50px;color:#fff;">
    <div class="container">
      <div class="row">
      <div class="well" style="background-color:#34495e;color:#000;">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <div class="aa-title">
              <h2>Property</h2>
              <span></span>
              <p>Goal City in Sarai Patna</p>
            </div>
            <div class="aa-latest-blog-content">
              <div class="row">
                <div class="col-md-12">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a><img src="images/slider/bg4.jpg" style="width:100%;height:100%;" alt="img"></a>
                    </figure>
                    <div class="aa-blog-single-content">
                      <div class="row" style="padding:10px;">
                        <div class="col-md-3">
                        <div class="well" style="opacity:0.5;">
                          <h3><a href="#">Goal City in Sarai Patna</a></h3>
                          <h4><span style="font-weight:bolder">Location</span>: Bihar / Patna</h4>
                          <p><span style="font-weight:bolder">Area</span>:800-1200 SQ FT</p>
                          </div>
                          <div class="well" style="opacity:0.8;">
                          <img src="images/realestate.jpg" style="width:100%;height:100%;">
                          </div>
                          <button type="button" class="btn btn-outline-success btn-block">Contact Us</button>


                        </div>
                        <div class="col-md-4">
                        <div class="well" style="opacity:0.5;">
                          <h3>Facilities</h3>
                          <p>Location Hilights(30 ft-20 ft wide road)</p>
                          <p>Street light</p>
                          <p>Electricity</p>
                          <p>Community Hall & Parks</p>
                          <p>Green well</p>
                          <p>Security</p>
                          <p>Comercial Shops & More</p>
                          </div>
                          <div class="well" style="opacity:0.5;padding:10px;">
                          <h3>Connectivity</h3>
                          <p>Very nearest to NH30 & NH98</p>
                          <p>Proposed Bitha Sarmera Road</p>
                          <p>Proposed Patna Buxar Four Lane</p>
                        </div>
                        </div>
                        <div class="col-md-5">
                        <div class="well" style="opacity:0.5;">
                        <h3>Nearest Location</h3>
                          <p>Saguna More (8 km)</p>
                          <p>Danapur Cantt (5km)</p>
                          <p>Danapur Railway station (8km)</p>
                          <p>Patliputra Railway station (13km)</p>
                          <p>Neura Railway Station (3-5 km)</p>
                          <p>Patna Airport (15km)</p>
                          <p>Bitha Airport (proposed) (13 km)</p>
                          <p>Bitha Town(14km)</p>
                          <p>IIT-Patna (17 km)</p>
                          <p>NSIT-Bihta,Patna (15 km)</p>
                          <p>AIIMS-Patna-10 km</p>
                          <p>Maulana Azad College Of Engineering & Technology,Patna (0.5Km)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section ng-if="!property.property1" id="aa-latest-blog" style="padding-top:50px;">
    <div class="container">
      <div class="row">
      <div class="well" style="background-color:#34495e;color:#000;">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <div class="aa-title">
              <h2>Property</h2>
              <span></span>
              <p>Property in Greater Noida</p>
            </div>
            <div class="aa-latest-blog-content">
              <div class="row">
                <div class="col-md-12">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a><img src="images/slider/bg4.jpg" style="width:100%;height:100%;" alt="img"></a>
                    </figure>
                    <div class="aa-blog-single-content">
                      <div class="row" style="padding:10px;">
                        <div class="col-md-3">
                        <div class="well" style="opacity:0.5;">
                          <h3><a href="#">Property in Greater Noida</a></h3>
                          <h4><span style="font-weight:bolder">Location</span>: BGreater Noida</h4>
                          <p><span style="font-weight:bolder">Area</span>:800-1200 SQ FT</p>
                          </div>
                          <div class="well" style="opacity:0.8;">
                          <img src="images/realestate.jpg" style="width:100%;height:100%;">
                          </div>
                          <button type="button" class="btn btn-outline-success btn-block">Contact Us</button>


                        </div>
                        <div class="col-md-4">
                        <div class="well" style="opacity:0.5;">
                          <h3>Facilities</h3>
                          <p>Location Hilights(30 ft-20 ft wide road)</p>
                          <p>Street light</p>
                          <p>Electricity</p>
                          <p>Community Hall & Parks</p>
                          <p>Green well</p>
                          <p>Security</p>
                          <p>Comercial Shops & More</p>
                          </div>
                          <div class="well" style="opacity:0.5;padding:10px;">
                          <h3>Connectivity</h3>
                          <p>Very nearest to NH30 & NH98</p>
                          <p>Proposed Bitha Sarmera Road</p>
                          <p>Proposed Patna Buxar Four Lane</p>
                        </div>
                        </div>
                        <div class="col-md-5">
                        <div class="well" style="opacity:0.5;">
                        <h3>Nearest Location</h3>
                          <p>Saguna More (8 km)</p>
                          <p>Danapur Cantt (5km)</p>
                          <p>Danapur Railway station (8km)</p>
                          <p>Patliputra Railway station (13km)</p>
                          <p>Neura Railway Station (3-5 km)</p>
                          <p>Patna Airport (15km)</p>
                          <p>Bitha Airport (proposed) (13 km)</p>
                          <p>Bitha Town(14km)</p>
                          <p>IIT-Patna (17 km)</p>
                          <p>NSIT-Bihta,Patna (15 km)</p>
                          <p>AIIMS-Patna-10 km</p>
                          <p>Maulana Azad College Of Engineering & Technology,Patna (0.5Km)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>