<!-- <div class="row well" style="padding-top:150px;">
<div class="jumbotron">
        <div class="col-md-6" style="padding:40px">
                <img class="img-responsive" src="img/slider/1.jpg">
        </div>
        <div class="col-md-6" style="padding:40px">
                <h1>Goal Infratech Private Limited (OPC)</h1>
                <p>At Goal Infratech Private Limited (OPC), we believe that for a better and progressive future, we should direct our efforts towards raising the living standards of people. And therefore we focus our efforts in planned development across real estate industry to help people earn a high-end living.</p>
        </div>
        </div>
</div>
<div class="row well">
        <div class="col-md-6" style="padding:40px">
                <h1>COMPANY PROFILE</h1> 
                <p>Goal Infratech Private Limited (OPC), a real estate company establish in Patna. It has been offering its excellent services in Plot/Flat/villa to a large number of people in Delhi/NCR and Patna. Its upcoming projects in Ranchi and Bhopal (MP).Beginning its journey of success in 2015, and Come in form 2016. Goal Infratech Private Limited (OPC) has Determined to establish itself as one of the promising real estate players, Goal Infratech Private Limited (OPC) has been able to stand as a testimony of trust and confidence for people of India.</p>

                <p>Goal Infratech Private Limited (OPC) is solely aimed towards transforming the lifestyle of people in India and taking forward this as its long term goal, it has tried its level best to prove itself through constant and honest efforts. Leading with the sheer thought of providing people with comfortable and peaceful homes, Goal Infratech Private Limited (OPC) turns every possibility into opportunity and faces each challenge confidently.</p>


        </div>
        <div class="col-md-6" style="padding:40px">
                <img class="img-responsive" src="img/slider/1.jpg">
        </div>
</div> -->

<!-- <div class="jumbotron" style="padding-top:150px;">
<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
        <img class="img-responsive" src="img/slider/1.jpg">
  </div>
</div>
</div>
<div class="col-md-6" style="padding-left:40px">
        <h3>Goal Infratech Private Limited (OPC)</h3>
                <p><h5>At Goal Infratech Private Limited (OPC), we believe that for a better and progressive future, we should direct our efforts towards raising the living standards of people. And therefore we focus our efforts in planned development across real estate industry to help people earn a high-end living.<h5></p>
</div>
</div>
</div>
<div class="jumbotron">
<div class="row">
<div class="col-md-6" style="padding-left:40px">
        <h3>COMPANY PROFILE</h3> 
                <p><h5>Goal Infratech Private Limited (OPC), a real estate company establish in Patna. It has been offering its excellent services in Plot/Flat/villa to a large number of people in Delhi/NCR and Patna. Its upcoming projects in Ranchi and Bhopal (MP).Beginning its journey of success in 2015, and Come in form 2016. Goal Infratech Private Limited (OPC) has Determined to establish itself as one of the promising real estate players, Goal Infratech Private Limited (OPC) has been able to stand as a testimony of trust and confidence for people of India.</h5></p>

                <p><h5>Goal Infratech Private Limited (OPC) is solely aimed towards transforming the lifestyle of people in India and taking forward this as its long term goal, it has tried its level best to prove itself through constant and honest efforts. Leading with the sheer thought of providing people with comfortable and peaceful homes, Goal Infratech Private Limited (OPC) turns every possibility into opportunity and faces each challenge confidently.</h5></p>
</div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
        <img class="img-responsive" src="img/slider/1.jpg">
  </div>
</div>
</div>
</div> -->
<!--<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="padding-top: 15px;">About Us</h1>
                <p>Goal Infratech Private Limited (OPC)</p>
            </div>
        </div>
    </div>
</section>/#title-->


<section id="about-us" class="container"style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-12">
            <div class="aa-latest-blog-area">
                <div class="aa-latest-blog-content">
                    <div class="row">
                        <!-- start single blog -->
                        <div class="col-md-6">
                            <article class="aa-blog-single">
                                <figure class="aa-blog-img">
                                    <a href="#"><img class="img img-responsive" src="images/1.jpg" alt="img"></a>
                                </figure>
                                <!--                                    <div class="aa-blog-single-content">
                                                                        <h3><a href="#">Goal Infratech Private Limited (OPC)</a></h3>
                                                                        <p>At Goal Infratech Private Limited (OPC), we believe that for a better and progressive future, we should direct our efforts towards raising the living standards of people. And therefore we focus our efforts in planned development across real estate industry to help people earn a high-end living.</p>
                                                                    </div>-->

                            </article>
                        </div>
                        <!-- start single blog -->
                        <div class="col-md-6">
                            <article class="aa-blog-single">
                                <figure class="aa-blog-img">
                                    <a href="#"><img class="img img-responsive" src="images/2.jpg" alt="img"></a>
                                </figure>
                                <!--                                    <div class="aa-blog-single-content">
                                                                        <h3><a href="#">COMPANY PROFILE</a></h3>
                                                                        <p>Goal Infratech Private Limited (OPC), a real estate company establish in Patna. It has been offering its excellent services in Plot/Flat/villa to a large number of people in Delhi/NCR and Patna. Its upcoming projects in Ranchi and Bhopal (MP).Beginning its journey of success in 2015, and Come in form 2016. Goal Infratech Private Limited (OPC) has Determined to establish itself as one of the promising real estate players, Goal Infratech Private Limited (OPC) has been able to stand as a testimony of trust and confidence for people of India.</p>
                                                                    </div>                   -->
                            </article>
                        </div>
                        <!-- start single blog -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row about-Section">
        <div id="about1" class="col-sm-12 pull-left" style="width: 60%">
            <h2 ng-if="about.about1">What we are</h2>
            <p ng-if="about.about1">At Goal Infratech Private Limited (OPC), we believe that for a better and progressive future, we should direct our efforts towards raising the living standards of people. And therefore we focus our efforts in planned development across real estate industry to help people earn a high-end living.</p>
        </div><!--/.col-sm-6-->
        <div class="clearfix"></div>
        <div id="about2" class="col-sm-12 pull-right" style="width: 60%">
            <h2 ng-if="about.about2"class="text-right">Vision</h2>
            <p ng-if="about.about2" class="text-right">To Contribute Significantly To Build The New India & Become The Most Valuable Real Estate Company. </p>
        </div>
        <div class="clearfix"></div>
        <div id="about3" class="col-sm-12 pull-left" style="width: 60%">
            <h2 ng-if="about.about3">Mission</h2>
            <p ng-if="about.about3">To have a foundation of constant growth and improvement so that we may empower our clients to achieve their real estate goals, all with the highest caliber of service and support.</p> </div>

        <div class="clearfix"></div>
        <div id="about4" class="col-sm-12 pull-right" style="width: 60%">
            <h2 ng-if="about.about4" class="text-right">Values</h2>
            <ul ng-if="about.about4" class="text-right" style="list-style-type: none;">
                <li>Staying as loyal our clients as they are to us. 
<i class="fa fa-circle" aria-hidden="true"></i></li>
                <li>Constant growth and developments 
<i class="fa fa-circle" aria-hidden="true"></i></li>
                <li>Always delivering results. 
<i class="fa fa-circle" aria-hidden="true"></i></li>
                <li>Service that does not end at the transaction. 
<i class="fa fa-circle" aria-hidden="true"></i></li>
                <li>Please go through the email and respond me accordingly. 
<i class="fa fa-circle" aria-hidden="true"></i></li>
            </ul>
        </div><!--/.col-sm-6-->
    </div><!--/.row-->
    <div class="gap"></div>
</section><!--/#about-us-->

<!--<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <div class="aa-title">
                        <h2>About Us</h2>
                        <span></span>
                        <p>Goal Infratech Private Limited (OPC)</p>
                    </div>
                    <div class="aa-latest-blog-content">
                        <div class="row">
                             start single blog 
                            <div class="col-md-6">
                                <article class="aa-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img class="img img-responsive" src="images/1.jpg" alt="img"></a>
                                    </figure>
                                    <div class="aa-blog-single-content">
                                        <h3><a href="#">Goal Infratech Private Limited (OPC)</a></h3>
                                        <p>At Goal Infratech Private Limited (OPC), we believe that for a better and progressive future, we should direct our efforts towards raising the living standards of people. And therefore we focus our efforts in planned development across real estate industry to help people earn a high-end living.</p>
                                    </div>

                                </article>
                            </div>
                             start single blog 
                            <div class="col-md-6">
                                <article class="aa-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img class="img img-responsive" src="images/2.jpg" alt="img"></a>
                                    </figure>
                                    <div class="aa-blog-single-content">
                                        <h3><a href="#">COMPANY PROFILE</a></h3>
                                        <p>Goal Infratech Private Limited (OPC), a real estate company establish in Patna. It has been offering its excellent services in Plot/Flat/villa to a large number of people in Delhi/NCR and Patna. Its upcoming projects in Ranchi and Bhopal (MP).Beginning its journey of success in 2015, and Come in form 2016. Goal Infratech Private Limited (OPC) has Determined to establish itself as one of the promising real estate players, Goal Infratech Private Limited (OPC) has been able to stand as a testimony of trust and confidence for people of India.</p>
                                    </div>                   
                                </article>
                            </div>
                             start single blog 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->