<section ng-if="property.property1" id="aa-latest-blog" style="padding-top:150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <div class="aa-title">
              <h2>Property</h2>
              <span></span>
              <p>Goal City in Sarai Patna</p>
            </div>
            <div class="aa-latest-blog-content">
              <div class="row">
                <div class="col-md-12">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="#"><img src="img/slider/2.jpg" alt="img"></a>
                    </figure>
                    <div class="aa-blog-single-content">
                      <div class="row">
                        <div class="col-md-3">
                          <h3><a href="#">Goal City in Sarai Patna</a></h3>
                          <h4><span style="font-weight:bolder">Location</span>: Bihar / Patna</h4>
                          <p><span style="font-weight:bolder">Area</span>: 800-1200 SQ FT</p>
                        </div>
                        <div class="col-md-3">
                          <h3>Facilities</h3>
                          <p>Location hilights(30 ft 20 ft wide road)</p>
                          <p>Street light</p>
                          <p>Electricity</p>
                          <p>Community hall</p>
                          <p>Park</p>
                          <p>Green well</p>
                          <p>Secquirty</p>
                          <p>Comercial shops n more</p>
                        </div>
                        <div class="col-md-3">
                          <h3>Connectivity</h3>
                          <p>Very nearest to NH30 NH98</p>
                          <p>Proposed bitha sarmera road</p>
                          <p>Proposed patna buxar four lane</p>
                        </div>
                        <div class="col-md-3">
                        <h3>Nearest Location</h3>
                          <p>Saguna more 8 km</p>
                          <p>Danapur cannt 5km</p>
                          <p>Danapur railway station 8km</p>
                          <p>Patliputra railway station 13km</p>
                          <p>Neura railway station 3-5 km</p>
                          <p>Airport patna 15km</p>
                          <p>Airport bitha (proposed)13 km</p>
                          <p>Bitha 14km</p>
                          <p>IIT 17 km</p>
                          <p>NSIT-15 km</p>
                          <p>AIMS patna-10 km</p>
                          <p>Molana aazad eng clg 500m</p>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section ng-if="!property.property1" id="aa-latest-blog" style="padding-top:150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <div class="aa-title">
              <h2>Property</h2>
              <span></span>
              <p>Property in Greater Noida</p>
            </div>
            <div class="aa-latest-blog-content">
              <div class="row">
                <div class="col-md-12">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="#"><img src="img/slider/3.jpg" alt="img"></a>
                    </figure>
                    <div class="aa-blog-single-content">
                      <div class="row">
                        <div class="col-md-3">
                          <h3><a href="#">Property in Greater Noida</a></h3>
                          <h4><span style="font-weight:bolder">Location</span>: Greater Noida</h4>
                          <p><span style="font-weight:bolder">Area</span>: 800-1200 SQ FT</p>
                        </div>
                        <div class="col-md-3">
                          <h3>Facilities</h3>
                          <p>Location hilights(30 ft 20 ft wide road)</p>
                          <p>Street light</p>
                          <p>Electricity</p>
                          <p>Community hall</p>
                          <p>Park</p>
                          <p>Green well</p>
                          <p>Secquirty</p>
                          <p>Comercial shops n more</p>
                        </div>
                        <div class="col-md-3">
                          <h3>Connectivity</h3>
                          <p>Very nearest to NH30 NH98</p>
                          <p>Proposed bitha sarmera road</p>
                          <p>Proposed patna buxar four lane</p>
                        </div>
                        <div class="col-md-3">
                        <h3>Nearest Location</h3>
                          <p>Saguna more 8 km</p>
                          <p>Danapur cannt 5km</p>
                          <p>Danapur railway station 8km</p>
                          <p>Patliputra railway station 13km</p>
                          <p>Neura railway station 3-5 km</p>
                          <p>Airport patna 15km</p>
                          <p>Airport bitha (proposed)13 km</p>
                          <p>Bitha 14km</p>
                          <p>IIT 17 km</p>
                          <p>NSIT-15 km</p>
                          <p>AIMS patna-10 km</p>
                          <p>Molana aazad eng clg 500m</p>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>