.carousel-inner{
	max-height:450px;
}
.about-img{
	max-height: 400px;
	width: 100%;
}
.aa-blog-single{
	min-height: 620px;
}
#aa-menu-area .main-navbar .navbar-header .aa-logo{
	padding:10px!important;
	font-size: 30px;
}
#slider img{
    max-height: 450px;
}
.nivo-caption { 
       width: 200px!important; 
       height: auto!important; 
       left: 100px!important; /* same as the width */
       bottom: 50px!important; /* same as the width */
 }
 
 .fullwidthbanner{
     max-height: 500px;
 }