@media (min-width: 768px) and (max-width: 980px) {
    .logo {
        text-align: center
    }
    .menu-collapser {
        float: right;
        width: 30%
    }
    .top-right {
        display: none
    }
    .bottom-tab h2 {
        text-transform: uppercase;
        font-size: 1.2em!important;
        text-align: left;
        margin: 0;
        padding: 0
    }
    .share {
        width: 100%!important;
        text-align: center;
        padding: 0;
        margin: 1em 0 .5em
    }
    .share ul {
        margin: 0;
        padding: 0!important
    }
    .footer-nav,
    .contac-detail,
    .share label {
        display: none!important
    }
    #mobile-menu-toggle {
        margin-bottom: 1em
    }
    #inner-slider-hold {
        min-height: 500px
    }
}
@media screen and (max-width: 980px) {
    .inner-heading-bg,
    .page-leftpanel h3 {
        display: none
    }
    .innerpage-bg {
        background: none
    }
    .inner-heading {
        margin: 0;
        padding-left: 0
    }
    .inner-heading h1 {
        font-size: x-large
    }
    .page-leftpanel,
    .page-rightpanel-hold,
    .page-rightpanel {
        display: block;
        width: 100%;
        padding: 0
    }
    .bbcom_desktop_smartphones_pinnedNavigation_a .navigation-content {
        margin: 0 auto!important;
        position: relative;
        left: 0!important;
        width: 100%!important
    }
    .proj-nav ul {
        display: none;
        width: 100%;
        background: none;
        z-index: 99999
    }
    .proj-nav select {
        display: inline-block;
        width: 100%;
        background-color: #d23a2c;
        border: none;
        border-radius: 0;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        text-align: center!important;
        font-size: 1.3em;
        color: #fff;
        padding: .3em 0;
        background: url(../images/arrow_down.png) 95% center no-repeat #f7941d;
        text-indent: .01px
    }
    .proj-nav select option {
        border-bottom: solid 1px #216094
    }
}
@media screen and (max-width: 768px) {
    .logo,
    .top-right {
        width: 100%
    }
    .top-right {
        display: none!important
    }
    .logo {
        text-align: center;
        padding: 1em 0 .5em
    }
    #inner-slider-hold {
        min-height: 10em
    }
    .img-opacity img {
        opacity: 1
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .menu-collapser {
        float: right;
        border: solid 1px #fff!important;
        width: 100%
    }
    .inner {
        float: right;
        border: solid 1px #fff!important;
        width: 100%
    }
    .top-right,
    .corporte-video {
        display: none
    }
    .programs h2 {
        text-transform: uppercase;
        font-size: 1.3em!important;
        color: #000
    }
    .bottom-tab h2 {
        text-transform: uppercase;
        font-size: 1.2em!important;
        text-align: left;
        margin: 0;
        padding:
    }
    .share {
        width: 100%!important;
        text-align: center;
        padding: 0;
        margin: 1em 0 .5em
    }
    .share ul {
        margin: 0;
        padding: 0!important
    }
    .bg-white h5 {
        font-size: .9em
    }
    .bg-white h2 {
        font-size: 1.5em
    }
    #mobile-menu-toggle {
        margin-bottom: 1em
    }
    .news-img {
        width: 100%;
        margin: 0 auto
    }
    .logo-align {
        text-align: center
    }
    .quote-icon {
        text-align: center!important;
        margin: 0 auto
    }
    .testi-img img {
        margin: 0 auto
    }
    .txt-padding {
        padding: 0
    }
    .pic {
        height: 200px
    }
    .overview-banner,
    .vision-mission-banner,
    .chairmain-banner,
    .news-banner,
    .press-banner,
    .contact-banner,
    .career-banner,
    .csr-banner,
    .calculator-banner,
    .inner-banner {
        display: none;
        background: none;
        height: auto
    }
    .proj-nav select {
        margin-top: 25px
    }
    .inner-heading {
        margin-top: -55px
    }
    h1 {
        font-size: 2.1em
    }
    .text-large {
        font-size: 1.1em!important
    }
    .sold-out-seal {
        position: absolute;
        margin: 180px 0 0;
        opacity: .7;
        display: none
    }
}

/*@media (max-width: 768px) {
    .fullwidthbanner-container {
        display: none;
    }
}*/
@media (max-width: 768px) {
    .tp-rightarrow{
        display: none;
    }
    .tp-leftarrow{
        display: none;
    }
}